@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary: rgb(31, 29, 29);
    --gradient: rgb(51, 45, 45);
    --secondary: #b8b8b8;
    --text: #f2f5f5;
}

// Batas Inisialisasi Variabel
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    // vertical-align: baseline;
}

body {
    font-family: "montserrat", sans-serif;
    color: black;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}



.text-center {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1.25rem;
    margin: .5rem;
    height: fit-content;
}

.mb {
    margin-bottom: 1.5rem;
}

.mt {
    margin-top: 1.5rem;
}

// Batas Inisialisasi Kelas yang Mungkin Digunakan
header {

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        background-color: var(--primary);
        position: sticky;
        top: 0;

        ul {

            li {
                display: inline-block;
                list-style-type: none;
                margin: 0 2rem;

                @media (max-width:768px) {
                    margin: 0 .3rem;
                }

                a {

                    border-radius: 4px;
                    padding: .5rem 1rem;
                    color: #f2f5f5;
                    text-decoration: none;

                    &:hover {
                        background-color: white;
                        color: black;
                        transition: .5s;
                    }
                }
            }
        }
    }
}

#banner {
    display: flex;
    background: url('../images/banner.jpg');
    background-color: #b8b8b8;
    height: 20rem;
    background-position: 30% 40%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

    h1,
    .typed-cursor {
        color: white;
        text-shadow: 4px 4px 10px var(--primary);
    }

    .typed-cursor {
        font-size: 3rem;

        @media (max-width:768px) {
            font-size: 2rem;
        }
    }

    @media (min-width:1400px) {
        background-position: 15% 43%;
    }

    @media (max-width:768px) {
        background-position: 60% 40%;
    }

    @media (min-width:769px) and (max-width:1025px) {
        background-position: 90% 40%;
    }
}

main {
    #content {
        .flex-container {
            display: flex;
            flex-direction: column;
            padding: 1.25rem;

            #sejarah {
                p {
                    text-align: justify;
                }
            }

            #faktaUnik {
                .btn-unik {
                    padding: 1rem 2rem;
                    border-radius: 4px;
                    border: 1px solid black;
                    background-color: var(--primary);
                    color: white;
                    cursor: pointer;

                    &:hover {
                        opacity: 85%;
                    }
                }
            }

            #fotoKucing {


                a {

                    cursor: pointer;

                    img {
                        width: 95%;
                        border-radius: 11px;
                        box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.2);
                    }
                }

            }

            #about {

                .container-about {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        flex-basis: 30%;
                        width: 30%;
                        margin-top: -7rem;

                        @media (max-width:768px) {
                            flex-basis: 100%;
                            width: 85%;
                            margin-top: -2rem;
                        }

                    }

                    .container-biodata {
                        flex-direction: column;
                        margin-left: 3rem;
                        margin-bottom: 3rem;

                        h3,
                        h4,
                        .btn-contact {
                            margin: 1rem;
                            font-family: 'Open Sans', sans-serif;
                            color: var(--gradient);
                        }

                        .btn-contact {
                            padding: 1rem 2rem;
                            background-color: var(--primary);
                            border-radius: 4px;
                            border: 1px solid black;
                            font-weight: bold;

                            a {
                                color: white;
                                text-decoration: none;

                            }

                            &:hover {
                                opacity: 85%;
                            }
                        }




                    }

                    @media (max-width:768px) {

                        display: inline-block;

                        img {
                            display: block;
                            margin: -3rem auto 1rem;
                        }

                        .container-biodata {
                            margin: 0;
                            text-align: center;

                            h3 {
                                font-size: 1.5rem;
                            }

                        }



                    }

                }
            }
        }
    }
}

footer {
    padding: 20px;
    color: white;
    background-color: var(--primary);
    text-align: center;
    font-weight: bold;
}

@media (max-width:768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: .75rem;
    }


}

// aside {
//     flex-basis: 30%;

//     img {
//         display: block;
//         margin-left: auto;
//         margin-right: auto;
//         width: 70%;
//         margin-top: -4rem;
//     }
// }

// @media (max-width:768px) {

//     #sejarah {
//         flex-basis: 100%;
//     }

//     aside {
//         img {
//             flex-basis: 100%;
//         }
//     }
// }